body{
  background-color:#133771;
}




a{
  color: white;
  font-family: "Teko";
  text-decoration: none;
  font-size: 150px;
}

a:hover{
  color:#EE4B2B;
}


.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.img{
  position: fixed;
  top: 33%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
