#container {
    position: fixed;
    width: 500px;
    height: 500px;
    border: 1px solid white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 10px;
    padding: 2px:
}

.frog {
    position: absolute;
    cursor: pointer;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; 
    user-select: none; 
}

#counter {
    font-family: "Teko";
    margin-top: 10px;
    position: fixed;
    top: 3%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 100px;
    color: white;
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
    height: 0px;
}

#bod {
   background-color: #133771;
 }

.discord{
   position: fixed;
   top: 3%;
   left: 50%;
 }

#pause-button{
  color: white;
  font-family: "Teko";
  background-color: black;
  text-decoration: none;
  background: transparent;
  border: none;
  position: fixed;
  top: 84%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 50px;

}

.fa-instagram {
  color: white;
  position: fixed;
  top: 50%;
  left: 2%;
  transform: translateX(-50%) translateY(-50%);
}

.fa-discord{
  color: white;
  position: fixed;
  top: 43%;
  left: 2%;
  transform: translateX(-50%) translateY(-50%);
}



@media only screen and (max-width: 450px) {
  #counter {
      font-family: "Teko";
      margin-top: 10px;
      position: fixed;
      top: 3%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      font-size: 40px;
      color: white;
      -webkit-user-select: none;
      -moz-user-select: none; 
      -ms-user-select: none; 
      user-select: none; 
      height: 0px;

}
#container {
    position: fixed;
    width: 250px;
    height: 400px;
    border: 1px solid white;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}



#pause-button{
  color: white;
  font-family: "Teko";
  background-color: black;
  text-decoration: none;
  background: transparent;
  border: none;
  position: fixed;
  top: 70%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 40px;

}
.fa-instagram {
  color: white;
  position: fixed;
  top: 75%;
  left: 26%;
  transform: translateX(-50%) translateY(-50%);
}

.fa-discord{
  color: white;
  position: fixed;
  top: 75%;
  left:74%;
  transform: translateX(-50%) translateY(-50%);
}




}
